/* 
// BREAKPOINT MAX-WIDTH
*/ 
@media (max-width: 599.99px){
    .no-mobile{display:none !important;}
    .mobile-hscroll {overflow-x: auto;display: block;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;white-space: nowrap;}
    .mobile-hscroll-post {overflow-x: auto;display: inline-flex;-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;white-space: nowrap;width:100%;}
}
@media (max-width: 767.99px){
    .no-tablet{display:none;}
}
@media (max-width: 992px){

}
@media (max-width: 1199.99px){
    
}
/*
// BREAKPOINTS MIN-AND-MAX
*/
@media only screen and (min-width: 600px) and (max-width: 992px) {

}

/* 
// BREAKPOINT MIN-WIDTH
*/ 
@media (min-width: 600px){
    .no-desktop{display:none;}
}
@media (min-width: 768px){
    .no-desktop{display:none;}
}

@media (min-width: 992px){
    .hscroll{overflow-x: inherit !important;}
}

@media (min-width: 1024.99px){
}

@media (min-width: 1240.01px){}