li{transition: all 0.3s ease-out;}
li a{transition: all 0.3s ease-out;}
.see-all{transition: all 0.3s ease-out;}
.anime{transition: all 0.3s ease-out;}
.opacity0{transition: all 0.3s ease-out;opacity:0;}